.login-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('https://i.pinimg.com/564x/da/ac/de/daacde957999e2869480796333d567b7.jpg');
    background-size: cover; /* Cubre todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    /* background-attachment: fixed; <- Esta línea puede ser innecesaria */
}

.login-box {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con opacidad */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    max-width: 400px;
    width: 100%;
    z-index: 1; /* Asegura que el cuadro de login esté por encima del fondo */
}

.login-title {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

.btn-block {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}
