.contact-container {
    height: 100vh;
    background-image: url('https://i.pinimg.com/564x/da/ac/de/daacde957999e2869480796333d567b7.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.contact-content {
    background-color: rgba(0, 0, 0, 0.6); /* Fondo negro translúcido */
    padding: 40px;
    border-radius: 10px;
    max-width: 600px;
    width: 80%;
}

.btn-home {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #ff9800;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-home:hover {
    background-color: #e67e22;
}
